* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    height: 40px;
    background-color: rgb(68, 68, 68);
}

nav {
    height: 100%;
    padding-left: 0.7%;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

li {
    list-style: none;
    display: flex;
    gap: 8px;
}

li i {
    font-size: 16px;
    color: #ccc;
}

li a {
    text-decoration: none;
    font-size: 13px;
    color: #ccc;
}

.container {
    height: calc(100vh - 40px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.container .logo {
    margin-top: 6%;
}

.container .logo h1{
    font-size: 110px;
    letter-spacing: 5px;
    color: #f2f2f2;
}

form {
    margin-top: 3%;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form input[type=text] {
    height: 87%;
    width: 63%;
    border-radius: 25px;
    outline: none;
    border: none;
    padding-left: 13px;
    font-size: 16px;
}

form input[type=submit] {
    display: none;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {
    .container .logo {
        margin-top: 20%;
    }
    
    form {
        width: 100%;
    }
}